<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Formulario.css">
</head>
<body>
    <section>
        <div class="bloco">
<div class="titlo1">
  Formulário de Compras
</div>
<div class="formulario">
   <div class="entrada-dados">
      <label>Primeiro nome</label>
      <input type="text" class="input"/>
   </div>  
    <div class="entrada-dados">
      <label>Último Nome</label>
      <input type="text" class="input"/>
   </div>  
   <div class="entrada-dados">
      <label>Endereço</label>
      <input type="text" class="input"/>
   </div>  
  <div class="entrada-dados">
      <label>Codigo do cartão</label>
      <input type="text" class="input"/>
   </div> 
    <div class="entrada-dados">
      <label>Gênero</label>
      <div class="custom_select">
        <select>
          <option value="">Seleciona</option>
          <option value="male">Homem</option>
          <option value="female">Mulher</option>
        </select>
      </div>
   </div> 
    <div class="entrada-dados">
      <label>Endereço de Email</label>
      <input type="text" class="input"/>
   </div> 
  <div class="entrada-dados">
      <label>Número de telefone</label>
      <input type="text" class="input"/>
   </div> 
  <div class="entrada-dados">
      <label>Informações Adicionais</label>
      <textarea class="textarea"></textarea>
   </div> 
  <div class="entrada-dados">
      <label>Codigo Postal</label>
      <input type="text" class="input"/>
   </div> 
  <div class="entrada-dados terms">
      <label class="check">
        <input type="checkbox"/>
        <span class="checkmark"></span>
      </label>
      <p>Concordar com os termos e condições</p>
   </div> 
  <div class="entrada-dados">
    <input type="submit" value="Register" class="btn"/>
  </div>
</div>
</div>	
    </section>
</body>
</html>